div.board-box {
  border-style: solid;
  border-color: black;
  height: 100px;
  width: 100px;
}

div.imperial {
  background: url(../images/imperialseal.jpg);
  background-size: contain;
}

div.alliance {
  background: url(../images/first-order.png);
  background-size: contain;
}
